{% extends "base.html" %}

{% block content %}
    <main>
        <div class="container">

            <div class="row g-3 x-panel mt-4">
                <div class="col">
                    <h1>About SOCCER@KFUPM</h1>
                    <p class="line-h-2">SOCCER@KFUPM is a website to make following the results of soccer tournaments
                        and leagues easier
                        by providing a
                        simple
                        user interface and user experience. The visitors and fans will be excited to support their
                        favorite teams when they
                        see
                        the results of the matches and the ranked tables of the leagues in the website. Moreover, the
                        players fans may see
                        the
                        most goal scorers players.</p>
                </div>
            </div>
        </div>
    </main>


    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

{% endblock %}