<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Details</title>

    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="style/layout.css">

</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">SOCCER@KFUPM</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul id="nav-bar-links" class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="manage-tournaments">Manage Tournaments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="manage-teams">Manage Teams</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="about">About</a>
                        </li>
                    </ul>
                    <ul id="nav-bar-links" class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="logout"><button class="btn btn-primary mb-1">Log
                                    out</button></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="row g-3 x-panel mt-4">
                <h2>Edit Team X</h2>
                <form action="#" method="post">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Team Name"
                                aria-label="Team Name" aria-describedby="basic-addon1" value="Team X" disabled required>
                            <label for="name">Team Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="number" id="number" placeholder="Team Number"
                                aria-label="Team Number" aria-describedby="basic-addon1" value="1" disabled required>
                            <label for="number">Team Number</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="address" id="address"
                                placeholder="Team Address" aria-label="Team Address" aria-describedby="basic-addon1"
                                value="283 Vallie Trail" disabled required>
                            <label for="address">Address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="website" id="website" placeholder="Website"
                                aria-label="Website" aria-describedby="basic-addon1" value="www.teamx.com" disabled
                                required>
                            <label for="Website">Website</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="phone" id="phone" placeholder="Contact Number"
                                aria-label="Contact Number" aria-describedby="basic-addon1" value="720-361-8966"
                                disabled required>
                            <label for="phone">Contact Number</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email"
                                aria-label="Email" aria-describedby="basic-addon1" value="teamx.example.com" disabled
                                required>
                            <label for="email">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" min="11" class="form-control" name="number-of-players"
                                placeholder="Number of Players" aria-label="Number of Players"
                                aria-describedby="basic-addon1" value="11" disabled required>
                            <label for="number-of-players">Number of Players</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="coach" id="coach" placeholder="Coach Name"
                                aria-label="Coach Name" aria-describedby="basic-addon1" value="Buster Carroll" disabled
                                required>
                            <label for="coach">Coach Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="manager" id="manager"
                                placeholder="Manager Name" aria-label="Manager Name" aria-describedby="basic-addon1"
                                value="Pansy Schmitt" disabled required>
                            <label for="manager">Manager Name</label>
                        </div>

                    </div>
                    <div class="col-12 d-flex">
                        <a class="ml-auto me-3" href="manage-teams"><button type="button"
                                class="btn btn-primary mb-1">
                                Back to Manage Teams</button></a>
                        <button class="btn btn-danger" type="submit">Confirm Deletion</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>