{% extends "base.html" %}

 {% block content %}
 <body>

    {% if not isLogged %}
    <main>
        <div class="container">
            <div class="row g-3 justify-content-center">
                <div class="col-md-6 x-panel mt-5">
                    <h1 class="mb-4">You Are Not Authrized!</h1>
                </div>
            </div>
        </div>
    </main>
    {% else %}

    <main>
        <div class="container">
            <div class="row g-3 x-panel mt-4">
                <h2>Delete Player</h2>
                <form action="#" method="post">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Player Name"
                                aria-label="Player Name" aria-describedby="basic-addon1" value="{{player.player_name}}" disabled required>
                            <label for="name">Player Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="ID" id="ID" placeholder="Player ID"
                                aria-label="Player ID" aria-describedby="basic-addon1" value="{{player.player_id}}" disabled required>
                            <label for="ID">Player ID</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="team-number" id="team-number"
                                placeholder="Team Number" aria-label="Team Number" aria-describedby="basic-addon1"
                                value="{{player.team_id}}" disabled required>
                            <label for="phone">Team Number</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" name="date" placeholder="date" aria-label="date"
                                aria-describedby="basic-addon1" value= "{{player.dt_of_bir}}" disabled required>
                            <label for="date">Date of Birth</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" name="Position to play" id="Position to play" disabled aria-label="Position to play">
                                <option value="{{position.position_desc}}" selected disabled>Striker</option>
                            </select>
                            <label for="type">Position</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="Jersey number" id="Jersey number" placeholder="Jersey number"
                                aria-label="Jersey number" aria-describedby="basic-addon1" value="{{tr.jersey_no}}" disabled required>
                            <label for="Jersey number">Jersey number</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-flex">
                    <a class="ml-auto me-3" href="/delete-player-details/{{player.team_id}}/{{player.player_id}}/{{tr_id}}/false"><button type="button"
                        class="btn btn-primary mb-1">Back To
                        Manage Teams</button></a>
                <a class="ml-auto me-3" href="/delete-player-details/{{player.team_id}}/{{player.player_id}}/{{tr_id}}/true"><button type="button"
                            class="btn btn-danger mb-1">Confirm Deletion</button></a>
                </div>
                </form>
            </div>

        </div>
    </main>

    {% endif %}
    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>
{% endblock %} 