{% extends "base.html" %}

{% block content %}
<body>
    {% if not isLogged %}
    <main>
        <div class="container">
            <div class="row g-3 justify-content-center">
                <div class="col-md-6 x-panel mt-5">
                    <h1 class="mb-4">You Are Not Authrized!</h1>
                </div>
            </div>
        </div>
    </main>
    {% else %}
    <main>
        <div class="container">
            <div class="row g-3 x-panel mt-4">
                <h2>Delete Account {{user.name}}</h2>
                <form action="/deleteAccount" method="post">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="email" id="ID" value="{{user.email}}" required>
                            <label>Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="admin" id="Tournament ID" placeholder="Tournament ID"
                                aria-label="Tournament ID" aria-describedby="basic-addon1" value="{{user.admin}}" disabled required>
                            <label for="number">Is Admin ?</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="password" id="team group"
                                placeholder="team group" aria-label="team group" aria-describedby="basic-addon1"
                                value="***************" disabled required>
                            <label for="group">Password</label>
                        </div>
                    </div>
                    <div class="col-12 d-flex">
                        <a class="ml-auto me-3" href="/dashboard"><button type="button"
                            class="btn btn-primary mb-1">Back To
                            Accounts</button></a>
                    <a class="ml-auto me-3"><button
                                class="btn btn-danger mb-1">Confirm Deletion</button></a>
                    </div>
                </form>
            </div>
        </div>
    </main>

    {% endif %}
    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>
{% endblock %}