{% extends "base.html" %}

 {% block content %}
 <body>

    {% if not isLogged %}
    <main>
        <div class="container">
            <div class="row g-3 justify-content-center">
                <div class="col-md-6 x-panel mt-5">
                    <h1 class="mb-4">You Are Not Authrized!</h1>
                </div>
            </div>
        </div>
    </main>
    {% else %}

    <main>
        <div class="container">
            <div class="row g-3 x-panel mt-4">
                <h2>Edit Team {{team.team_id}}</h2>
                <form action="#" method="post">
                    <div class="col"><div class="form-floating mb-3">
                        <input type="text" class="form-control" name="team_id" id="ID" placeholder="team ID"
                            aria-label="team ID" aria-describedby="basic-addon1" value="{{team.team_id}}" disabled required>
                        <label for="name">Team ID</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="tr_id" id="Tournament ID" placeholder="Tournament ID"
                            aria-label="Tournament ID" aria-describedby="basic-addon1" value="{{team.tr_id}}" disabled required>
                        <label for="number">Tournament ID</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="team_group" id="team_group"
                            placeholder="team group" aria-label="team group" aria-describedby="basic-addon1"
                            value="{{team.team_group}}"  required>
                        <label for="group">Team Group</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="match_played" id="match_played" placeholder="match_played"
                            aria-label="match_played" aria-describedby="basic-addon1" value="{{team.match_played}}" 
                            required>
                        <label for="match_played">Match played</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="won" id="won" placeholder="won"
                            aria-label="Won" aria-describedby="basic-addon1" value="{{team.won}}"
                             required>
                        <label for="Won">Won</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="draw" id="draw" placeholder="Draw"
                            aria-label="Draw" aria-describedby="basic-addon1" value="{{team.draw}}" 
                            required>
                        <label for="draw">draw</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" name="lost" id="Lost"
                            placeholder="Lost" aria-label="Lost"
                            aria-describedby="basic-addon1" value="{{team.lost}}"  required>
                        <label for="Lost">Lost</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="goal_for" id="goal_for" placeholder="goal_for"
                            aria-label="goal_for" aria-describedby="basic-addon1" value="{{team.goal_for}}" 
                            required>
                        <label for="goal_for">Goal For</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="goal_against" id="goal_against"
                            placeholder="goal_against" aria-label="goal_against" aria-describedby="basic-addon1"
                            value="{{team.goal_against}}"  required>
                        <label for="goal_against">Goal Against</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="goal_diff" id="goal_diff"
                            placeholder="goal_diff" aria-label="goal_diff" aria-describedby="basic-addon1"
                            value="{{team.goal_diff}}"  required>
                        <label for="goal_diff">Goal Difference</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="points" id="points"
                            placeholder="Points" aria-label="Points" aria-describedby="basic-addon1"
                            value="{{team.points}}"  required>
                        <label for="Points">Points</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="group_position" id="group_position"
                            placeholder="group_position" aria-label="group_position" aria-describedby="basic-addon1"
                            value="{{team.group_position}}"  required>
                        <label for="group_position">Group Position</label>
                    </div>

                    </div>
                    <div class="col-12 d-flex">
                        <a class="ml-auto me-3" href="manage-teams"><button type="button"
                                class="btn btn-primary mb-1">
                                Back to Manage Teams</button></a>
                        <button class="btn btn-success" type="submit">Confirm Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    {% endif %}
    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>
{% endblock %}
