{% extends "base.html" %}

{% block content %}
<body>
    <main>
        <div class="container">

            <div class="row g-3 x-panel mt-4">
                <h2>Edit Account</h2>
                <form action="/editAccount" method="post">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="name" id="team-a" placeholder="Team A"
                                aria-label="Team A" aria-describedby="basic-addon1" value="{{user.name}}" required>
                            <label for="team-a">Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="email" id="team-b" placeholder="Team B"
                                aria-label="Team B" aria-describedby="basic-addon1" value="{{user.email}}" required>
                            <label for="team-b">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" value="**************" name="password" id="time" placeholder="Time"
                                aria-label="time" aria-describedby="basic-addon1" disabled>
                            <label for="time">Password</label>
                        </div>
                        {% if owner.admin == 1 %}
                        <div class="form-floating mb-3">
                            <select class="form-select" name="admin" id="type" aria-label="type">
                                <option disabled>Select...</option>
                                {% if user.admin == No%}
                                <option value="1">Admin</option>
                                <option value="0" selected>Visitor</option>
                                {% else %}
                                <option value="1" selected>Admin</option>
                                <option value="0">Visitor</option>
                                {% endif %}
                            </select>
                            <label for="type">Type</label>
                        </div>
                        {% endif %}
                    </div>
                    
                    </div>
                    <div class="col-12 d-flex">
                        <a class="ml-auto me-3" href="/dashboard"><button type="button"
                                class="btn btn-primary mb-1">
                                Back To Dashboard</button></a>
                        <button class="btn btn-success " type="submit">Confirm Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </main>


    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

{% endblock %}