{% extends "base.html" %}

{% block content %}
<body>
    <main>
        <div class="container">

            <div class="row g-3 x-panel mt-4">
                <h2>Edit Match</h2>
                <form action="/edit-match-details/{{match.match_no}}/{{match.team_id}}/" method="post">
                    <div class="col">
                        <!-- <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="match_no" id="team-a" placeholder="Team A"
                                aria-label="Team A" aria-describedby="basic-addon1" value="{{match.match_no}}" required>
                            <label for="team-a">Matc</label>
                        </div> -->
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="team_id" id="team-b" placeholder="Team B"
                                aria-label="Team B" aria-describedby="basic-addon1" value="{{match.team_id}}" required>
                            <label for="team-b">Team ID</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="play_stage" id="time" placeholder="Time"
                                aria-label="time" aria-describedby="basic-addon1" value="{{match.play_stage}}" required>
                            <label for="time">Play Stage</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="win_lose" id="start-date"
                                aria-label="Start Date" aria-describedby="basic-addon1" value="{{match.win_lose}}" required>
                            <label for="start-date">Win or Lose</label>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="goal_score" id="referee" placeholder="Referee"
                            aria-label="referee" aria-describedby="basic-addon1" value="{{match.goal_score}}" required>
                        <label for="referee">Goal Score</label>
                    </div>
                    <div class="row g-3">
                        <div class="col-6 form-floating mb-3">
                            <input type="text"  class="form-control" name="penalty_score" id="team-a-score"
                                placeholder="team-a-score" aria-label="team-a-score" aria-describedby="basic-addon1" value="{{match.penalty_score}}" required>
                            <label for="team-a-score">Penalty score</label>
                        </div>
                        <div class="col-6 form-floating mb-3">
                            <input type="text"  class="form-control" name="asst_ref" id="team-b-score"
                                placeholder="team-b-score" aria-label="team-b-score" aria-describedby="basic-addon1" value="{{match.asst_ref}}" required>
                            <label for="team-b-score">Assistance Referee</label>
                        </div>
                        <div class="col-6 form-floating mb-3">
                            <input type="text"  class="form-control" name="player_gk" id="team-b-score"
                                placeholder="team-b-score" aria-label="team-b-score" aria-describedby="basic-addon1" value="{{match.player_gk}}" required>
                            <label for="team-b-score">Goal Keeper</label>
                        </div>
                        <div class="col-6 form-floating mb-3">
                            <input type="text" class="form-control" name="tr_id" id="team-b-score"
                                placeholder="team-b-score" aria-label="team-b-score" aria-describedby="basic-addon1" value="{{match.tr_id}}" required>
                            <label for="team-b-score">Tournament ID</label>
                        </div>
                    </div>
                    <div class="col-12 d-flex">
                        <a class="ml-auto me-3" href="manage-tournaments"><button type="button"
                                class="btn btn-primary mb-1">
                                Back To Manage Tournaments</button></a>
                        <button class="btn btn-success " type="submit">Confirm Changes</button>
                    </div>
                </form>
            </div>

        </div>
    </main>


    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}