{% extends "base.html" %}

 {% block content %}
 <body>

    {% if not isLogged or admin == 0%}
    <main>
        <div class="container">
            <div class="row g-3 justify-content-center">
                <div class="col-md-6 x-panel mt-5">
                    <h1 class="mb-4">You Are Not Authrized!</h1>
                </div>
            </div>
        </div>
    </main>
    {% else %}

    <main>
        <div class="container">
            <div class="row g-3 x-panel mt-4">
                <h2>Edit Player</h2>
                <form action="/edit-player-details/{{player.team_id}}/{{player.player_id}}/{{tr_id}}" method="post">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="player_name" id="name" placeholder="Player Name"
                                aria-label="Player Name" aria-describedby="basic-addon1" value="{{player.player_name}}"  required>
                            <label for="name">Player Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="player_id" id="ID" placeholder="Player ID"
                                aria-label="Player ID" aria-describedby="basic-addon1" value="{{player.player_id}}" disabled required>
                            <label for="ID">Player ID</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="team_id" id="team-number"
                                placeholder="Team Number" aria-label="Team Number" aria-describedby="basic-addon1"
                                value="{{player.team_id}}" disabled required>
                            <label for="phone">Team Number</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" name="dt_of_bir" placeholder="date" aria-label="date"
                                aria-describedby="basic-addon1" value="{{player.dt_of_bir}}" required>
                            <label for="date">Date of Birth</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" name="type" id="position_to_play" aria-label="type">
                                <option disabled>{{position.position_desc}}</option>
                                <option value="GK">Goal Keeper</option>
                                <option value="FD" selected>Forwards</option>
                                <option value="DF">Defender</option>
                                <option value="MF">MidFielder</option>
                            </select>
                            <label for="type">Type</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="jersey_no" id="Jersey_number" placeholder="Jersey number"
                                aria-label="Jersey number" aria-describedby="basic-addon1" value="{{tr.jersey_no}}"  required>
                            <label for="Jersey number">Jersey number</label>
                        </div>
                        
                    </div>
                    <div class="col-12 d-flex">
                        <a class="ml-auto me-3" href="/manage-teams"><button type="button"
                                class="btn btn-primary mb-1">
                                Back to Manage Teams</button></a>
                        <button class="btn btn-success " type="submit">Confirm Changes</button>
                    </div>
                </form>
            </div>

        </div>
    </main>

    {% endif %}

    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>
{% endblock %}