{% extends "base.html" %}

{% block content %}
<body>
    <main>
        <div class="container">

            <div class="row g-3 x-panel mt-4">
                <h2>Edit Match</h2>
                <form action="#" method="post">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="match_no" id="team-a" placeholder="Team A"
                                aria-label="Team A" aria-describedby="basic-addon1" value="Brazil" required>
                            <label for="team-a">{{match.match_no}}</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="team_id" id="team-b" placeholder="Team B"
                                aria-label="Team B" aria-describedby="basic-addon1" value="Argentina" required>
                            <label for="team-b">{{match.team_id}}</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="time" class="form-control" name="play_stage" id="time" placeholder="Time"
                                aria-label="time" aria-describedby="basic-addon1" value="20:00" required>
                            <label for="time">{{match.play_stage}}</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" name="win_lose" id="start-date"
                                aria-label="Start Date" aria-describedby="basic-addon1" value="2023-03-30" required>
                            <label for="start-date">{{match.win_lose}}</label>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="goal_score" id="referee" placeholder="Referee"
                            aria-label="referee" aria-describedby="basic-addon1" value="Dariana Goldner" required>
                        <label for="referee">{{match.goal_score}}</label>
                    </div>
                    <div class="row g-3">
                        <div class="col-6 form-floating mb-3">
                            <input type="number" min="0" class="form-control" name="penalty_score" id="team-a-score"
                                placeholder="team-a-score" aria-label="team-a-score" aria-describedby="basic-addon1" value="2" required>
                            <label for="team-a-score">{{match.match_no}}</label>
                        </div>
                        <div class="col-6 form-floating mb-3">
                            <input type="number" min="0" class="form-control" name="asst_ref" id="team-b-score"
                                placeholder="team-b-score" aria-label="team-b-score" aria-describedby="basic-addon1" value="3" required>
                            <label for="team-b-score">{{match.asst_ref}}</label>
                        </div>
                        <div class="col-6 form-floating mb-3">
                            <input type="number" min="0" class="form-control" name="player_gk" id="team-b-score"
                                placeholder="team-b-score" aria-label="team-b-score" aria-describedby="basic-addon1" value="3" required>
                            <label for="team-b-score">{{match.player_gk}}</label>
                        </div>
                        <div class="col-6 form-floating mb-3">
                            <input type="number" min="0" class="form-control" name="tr_id" id="team-b-score"
                                placeholder="team-b-score" aria-label="team-b-score" aria-describedby="basic-addon1" value="3" required>
                            <label for="team-b-score">{{match.tr_id}}</label>
                        </div>
                    </div>
                    <div class="col-12 d-flex">
                        <a class="ml-auto me-3" href="manage-tournaments"><button type="button"
                                class="btn btn-primary mb-1">
                                Back To Manage Tournaments</button></a>
                        <button class="btn btn-success " type="submit">Confirm Changes</button>
                    </div>
                </form>
            </div>

        </div>
    </main>


    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

{% endblock %}