{% extends "base.html" %}

{% block content %}
    <main>
        <div class="container">

            <div class="row g-3 x-panel mt-4">
              
                <h2>Track Tournament</h2>
                <form action="#" method="get">
                    <div class="col">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="number" placeholder="Tournament Number"
                                aria-label="Tournament Number" aria-describedby="basic-addon1" required>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="name" placeholder="Tournament Name"
                                aria-label="Tournament Name" aria-describedby="basic-addon1" required>
                        </div>
                    </div>
                    <div class="col-12 d-flex">
                        <button class="btn btn-primary mb-1 ml-auto" type="submit">See Tournament Details</button>
                    </div>
                </form>
            </div>

            <div class="row g-3 x-panel mt-4">
                <h1>Current Tournaments</h1>
                {{isLogged}}

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Number</th>
                                <th scope="col">Name</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">End Date</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tournament in tournaments %}
                            <tr>
                                
                                <td>{{tournament.tr_id}}</td>
                                <td>{{tournament.tr_name}}</td>
                                <td>{{tournament.start_date}}</td>
                                <td>{{tournament.end_date}}</td>
                                <td><a href="u-tournament-details/{{tournament.tr_id}}/{{tournament.tr_name}}"><button
                                            class="btn btn-dark mb-1">View</button></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </main>


    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
{% endblock %}