{% extends "base.html" %}

{% block content %}
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">SOCCER@KFUPM</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul id="nav-bar-links" class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="u-about">About</a>
                        </li>
                    </ul>
                    <ul id="nav-bar-links" class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="login"><button
                                    class="btn btn-primary mb-1">Login</button></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="signup"><button class="btn btn-primary mb-1">Sign
                                    Up</button></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <main>
        <div class="container">

            <div class="row g-3 x-panel mt-4">
              
                <h2>Track Tournament</h2>
                <form action="#" method="get">
                    <div class="col">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="number" placeholder="Tournament Number"
                                aria-label="Tournament Number" aria-describedby="basic-addon1" required>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="name" placeholder="Tournament Name"
                                aria-label="Tournament Name" aria-describedby="basic-addon1" required>
                        </div>
                    </div>
                    <div class="col-12 d-flex">
                        <button class="btn btn-primary mb-1 ml-auto" type="submit">See Tournament Details</button>
                    </div>
                </form>
            </div>

            <div class="row g-3 x-panel mt-4">
                <h1>Current Tournaments</h1>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Number</th>
                                <th scope="col">Name</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">End Date</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tournament in tournaments %}
                            <tr>
                                <th scope="row">1</th>
                                <td>{{tournament.name}}</td>
                                <td>{{tournament.startDate}}</td>
                                <td>{{tournament.endtDate}}</td>
                                <td><a href="u-tournament-details"><button
                                            class="btn btn-dark mb-1">View</button></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </main>


    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>
{% endblock %}