{% extends "base.html" %}

{% block content %}

    {% if isLogged %}
    <main>
        <div class="container">
            <div class="row g-3 justify-content-center">
                <div class="col-md-6 x-panel mt-5">
                    <h1 class="mb-4">You Are Already Logged In</h1>
                </div>
            </div>
        </div>
    </main>
    {% else %}
    <main>
        <div class="container">
            <div class="row g-3 justify-content-center">
                <div class="col-md-6 x-panel mt-5">
                    <h1 class="mb-4">Log In</h1>
                    <form  method="POST">
                        <div class="col">
                            <p style="color: red;">{{message}}</p>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" name="email" placeholder="name@example.com"
                                    required>
                                <label for="email">Email address</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" name="password" placeholder="Password"
                                    required>
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="col-12 d-flex">
                            <a href="signup">Don't have an account yet?</a>
                            <button class="btn btn-primary mb-1 ml-auto" type="submit">Log In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main> 
    {% endif %}

    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
{% endblock %}