{% extends "base.html" %}

{% block content %}
<body>
    {% if not isLogged %}
    <main>
        <div class="container">
            <div class="row g-3 justify-content-center">
                <div class="col-md-6 x-panel mt-5">
                    <h1 class="mb-4">You Are Not Authrized!</h1>
                </div>
            </div>
        </div>
    </main>
    {% else %}
    <main>
        <div class="container">
            <div class="row g-3 x-panel mt-4">
                <h1>Manage Tournaments</h1>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Number</th>
                                <th scope="col">Name</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">End Date</th>
                                <th scope="col" class="w-250">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tournament in tournaments %}
                            <tr>
                                
                                <td>{{tournament.tr_id}}</td>
                                <td>{{tournament.tr_name}}</td>
                                <td>{{tournament.start_date}}</td>
                                <td>{{tournament.end_date}}</td>
                                <td>
                                    <a href="u-tournament-details/{{tournament.tr_id}}"><button
                                            class="btn btn-dark mb-1">View</button></a>
                                    <a href="edit-tournament-details//{{tournament.tr_id}}{{tournament.tr_name}}"><button
                                            class="btn btn-primary mb-1">Edit</button></a>
                                    <a href="delete-tournament-details//{{tournament.tr_id}}{{tournament.tr_name}}"><button
                                            class="btn btn-danger mb-1">Delete</button></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row g-3 x-panel mt-4">
                <h2>Create Tournament</h2>
                <form action="#" method="post">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="name" placeholder="Tournament Name"
                                aria-label="Tournament Name" aria-describedby="basic-addon1" required>
                            <label for="id">Tournament Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="number" id="number"
                                placeholder="Tournament Number" aria-label="Tournament Number"
                                aria-describedby="basic-addon1" required>
                            <label for="number">Tournament Number</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" name="start-date" id="start-date"
                                aria-label="Start Date" aria-describedby="basic-addon1" required>
                            <label for="start-date">Start Date</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" name="end-date" id="end-date" aria-label="End Date"
                                aria-describedby="basic-addon1" required>
                            <label for="end-date">End Date</label>
                        </div>
                    </div>
                    <div class="col-12 d-flex">
                        <button class="btn btn-primary mb-1 ml-auto" type="submit">Create Tournament</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    {% endif %}

    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>
{% endblock %}