{% extends "base.html" %}

{% block content %}
    <main>
        <div class="container">
            <div class="row g-3 justify-content-center">
                <div class="col-md-6 x-panel mt-5">
                    <h1 class="mb-4">Sign Up</h1>
                    <form  method="POST">
                        <div class="col">
                            <p style="color: red;">{{message}}</p>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="name" placeholder="John Doe" required>
                                <label for="text">Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" name="email" placeholder="name@example.com"
                                    required>
                                <label for="email">Email address</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" name="password" id="password" placeholder="Password"
                                    required>
                                <label for="password">Password</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control"  name="confirm" id="confirm-password" placeholder="Password"
                                    required>
                                <label for="confirm-password">Confirm Password</label>
                            </div>
                            <fieldset class="row mb-5">
                                <legend class="col-form-label col-sm-2 pt-0">Role</legend>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="admin" id="visitor"
                                            value="0" checked>
                                        <label class="form-check-label" for="visitor">
                                            Regular visitor
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="admin" id="manager"
                                            value="1">
                                        <label class="form-check-label" for="manager">
                                            Manager
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-12 d-flex">
                            <a href="login">Already registerd?</a>
                            <button class="btn btn-primary mb-1 ml-auto" type="submit">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>


    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

{% endblock %}