{% extends "base.html" %}

{% block content %}
    <main>
        <div class="container">
            <div class="row g-3 x-panel mt-4">
                <h1>Team {{team.team_id}}</h1>
                 <div class="col-md-6">
                     <p><b>Tournament ID:</b> {{team.tr_id}}</p>
                     <p><b>Team group:</b> {{team.team_group}}</p>
                     <p><b>Match played:</b> {{team.match_played}}</p>
                     <p><b>Won:</b> {{team.won}}</p>
                     <p><b>Draw:</b> {{team.draw}}</p>
                     <p><b>Lost:</b> {{team.lost}}</p>
                 </div>

                 <div class="col-md-6">
                     <p><b>Goal for:</b> {{team.goal_for}}</p>
                     <p><b>Goal against:</b> {{team.goal_against}}</p>
                     <p><b>Goal difference:</b> {{team.goal_deff}}</p>
                     <p><b>Points:</b> {{team.points}}</p>
                     <p><b>Group position:</b> {{team.group_position}}</p>
                     <p><b>Coach :</b> {{coach_name.coach_name}}</p>

                 </div>
                <div class="col-md-6"></div>
            </div>
            <div class="row g-3 x-panel mt-4">
                <h2>Players</h2>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Position</th>
                                <th scope="col">Team Number</th>
                                <th scope="col">Date of Birth</th>
                                <th scope="col">Jersey Number</th>
                                <th scope="col">Player ID</th>
                                <th scope="col" class="w-250">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for player in players %}
                             <tr>
                                 <td>{{player.player_name}}</td>
                                 <td>{{player.position_id}}</td>
                                 <td>{{player.team_id}}</td>
                                 <td>{{player.dt_of_bir}}</td>
                                 <td>{{player.jersey_no}}</td>
                                 <td>{{player.player_id}}</td>
                                 <td>
                                    <a href="/edit-player-details/{{player.team_id}}/{{player.player_id}}/{{team.tr_id}}"><button
                                            class="btn btn-primary mb-1">Edit</button></a>
                                    <a href="/delete-player-details/{{player.team_id}}/{{player.player_id}}/{{team.tr_id}}"><button
                                            class="btn btn-danger mb-1">Delete</button></a>
                                </td>
                             </tr>
                             {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col d-flex">
                    <a class="ml-auto" href="/"><button class="btn btn-primary mb-1">Back To Home</button></a>
                </div>
            </div>
        </div>
    </main>


    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
{% endblock %}