{% extends "base.html" %}

{% block content %}
    <main>
        <div class="container">
            <div class="row g-3 x-panel mt-4">
                <h1>Team {{team.team_id}}</h1>
                <div class="col-md-6">
                    <p><b>Name:</b> Team X</p>
                    <p><b>Number:</b> {{team.team_id}}</p>
                    <p><b>Address:</b> 283 Vallie Trail</p>
                    <p><b>Website:</b> <a href="#">www.teamx.com</a></p>
                    <p><b>Number of players:</b> 11</p>
                </div>

                <div class="col-md-6">
                    <p><b>Contact Number:</b> 720-361-8966</p>
                    <p><b>Email address:</b> <a href="mailto:teamx@tour.com">www.teamx.com</a></p>
                    <p><b>Main Coach:</b> Buster Carroll</p>
                    <p><b>Manager:</b> Pansy Schmitt</p>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="row g-3 x-panel mt-4">
                <h2>Players</h2>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">KFUMP ID</th>
                                <th scope="col">Team Number</th>
                                <th scope="col">Date of Birth</th>
                                <th scope="col">Type</th>
                                <th scope="col">Contact Number</th>
                                <th scope="col">Email address</th>
                                <th scope="col">Department</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Braulio Boehm</td>
                                <td>1</td>
                                <td>5</td>
                                <td>May 11 2022</td>
                                <td>Striker</td>
                                <td>554-905-9980</td>
                                <td><a href="mailto:Braulio@example.com">Braulio@example.com</a></td>
                                <td>Football</td>
                            </tr>
                            <tr>
                                <td>Braulio Boehm</td>
                                <td>1</td>
                                <td>5</td>
                                <td>May 11 2022</td>
                                <td>Striker</td>
                                <td>554-905-9980</td>
                                <td><a href="mailto:Braulio@example.com">Braulio@example.com</a></td>
                                <td>Football</td>
                            </tr>
                            <tr>
                                <td>Braulio Boehm</td>
                                <td>1</td>
                                <td>5</td>
                                <td>May 11 2022</td>
                                <td>Striker</td>
                                <td>554-905-9980</td>
                                <td><a href="mailto:Braulio@example.com">Braulio@example.com</a></td>
                                <td>Football</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col d-flex">
                    <a class="ml-auto" href="/"><button class="btn btn-primary mb-1">Back To Home</button></a>
                </div>
            </div>
        </div>
    </main>


    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
{% endblock %}