{% extends "base.html" %}

{% block content %}
    <header>
    <main>
        <div class="container">
            <div class="row g-3 x-panel mt-4">

                <h1>{{tournament_name}}</h1>


                <div class="table-responsive">
                    <h2>Teams</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Ranking</th>
                                <th scope="col">Team ID</th>
                                <th scope="col">Wins</th>
                                <th scope="col">Draws</th>
                                <th scope="col">Loses</th>
                                <th scope="col" class="w-180">Goals For</th>
                                <th scope="col" class="w-180">Goals Against</th>
                                <th scope="col" class="w-180">Goal Differences</th>
                                <th scope="col">Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for team in teams %}
                            <tr>
                                <td>{{team.group_position}}</td>
                                <td><a href="/u-team-details/{{team.team_id}}/{{team.tr_id}}">{{team.team_id}}</a></td>
                                <td>{{team.won}}</td>
                                <td>{{team.draw}}</td>
                                <td>{{team.lost}}</td>
                                <td>{{team.goal_for}}</td>
                                <td>{{team.goal_against}}</td>
                                <td>{{team.goal_diff}}</td>
                                <td>{{team.points}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col d-flex">
                    <a class="ml-auto" href="/"><button class="btn btn-primary mb-1">Back To Home</button></a>
                </div>
            </div>

            <div class="row g-3 x-panel mt-4">
                <h2>Matches</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Match No.</th>
                                <th scope="col">Team No.</th>
                                <th scope="col">Play Stage</th>
                                <th scope="col" class="w-250">Win Or Lose?</th>
                                <th scope="col">Goals</th>
                                <th scope="col">Penalties</th>
                                <th scope="col">Assested Referee</th>
                                <th scope="col">Goal Keeper</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for match in matches %}
                            <tr>
                                <td>{{match.match_no}}</td>
                                <td>{{match.team_id}}</td>
                                <td>{{match.play_stage}}</td>
                                <td>{{match.win_lose}}</td>
                                <td>{{match.goal_score}}</td>
                                <td>{{match.penalty_score}}</td>
                                <td>{{match.asst_ref}}</td>
                                <td>{{match.player_gk}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col d-flex">
                    <a class="ml-auto" href="/"><button class="btn btn-primary mb-1">Back To Home</button></a>
                </div>
            </div>
            {% if isLogged %}
            <div class="row g-3 x-panel mt-4">
                <h2>Add New Match</h2>
                <form action="/addMatch" method="post">
                   <input type="text" name="tr_id" value="{{tournament_name}}" style="display:none">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="match_no" id="name" placeholder="Match No"
                                aria-label="Player Name" aria-describedby="basic-addon1" required>
                            <label for="name">Match No</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="team_id" id="ID" placeholder="Team ID"
                                aria-label="Player ID" aria-describedby="basic-addon1" required>
                            <label for="ID">Team ID</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" name="play_stage" placeholder="date" aria-label="date"
                                aria-describedby="basic-addon1" required>
                            <label for="date">Play Stage</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="win_lose" id="department"
                                placeholder="department" aria-label="department" aria-describedby="basic-addon1"
                                required>
                            <label for="department">win_lose</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="goal_score" id="department"
                                placeholder="department" aria-label="department" aria-describedby="basic-addon1"
                                required>
                            <label for="department">Goal Score</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="penalty_score" id="department"
                                placeholder="department" aria-label="department" aria-describedby="basic-addon1"
                                required>
                            <label for="department">Penalty Score</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="asst_ref" id="department"
                                placeholder="department" aria-label="department" aria-describedby="basic-addon1"
                                required>
                            <label for="department">Assested referee</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="player_gk" id="department"
                                placeholder="department" aria-label="department" aria-describedby="basic-addon1"
                                required>
                            <label for="department">GK of the Game</label>
                        </div>
                    </div>
                    <div class="col-12 d-flex">
                        <button class="btn btn-primary mb-1 ml-auto" type="submit">Create Player</button>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
    </main>


    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

{% endblock %}