{% extends "base.html" %}

{% block content %}

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">SOCCER@KFUPM</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul id="nav-bar-links" class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="u-about">About</a>
                        </li>
                    </ul>
                    <ul id="nav-bar-links" class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="login"><button
                                    class="btn btn-primary mb-1">Login</button></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="signup"><button class="btn btn-primary mb-1">Sign
                                    Up</button></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="row g-3 x-panel mt-4">

                <h1>{{t_name}}</h1>


                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Ranking</th>
                                <th scope="col">Team ID</th>
                                <th scope="col">Wins</th>
                                <th scope="col">Draws</th>
                                <th scope="col">Loses</th>
                                <th scope="col" class="w-180">Goals For</th>
                                <th scope="col" class="w-180">Goals Against</th>
                                <th scope="col" class="w-180">Goal Differences</th>
                                <th scope="col">Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for team in teams %}
                            <tr>
                                <td>{{team.group_position}}</td>
                                <td><a href="u-team-details">{{team.team_id}}</a></td>
                                <td>{{team.won}}</td>
                                <td>{{team.draw}}</td>
                                <td>{{team.lost}}</td>
                                <td>{{team.goal_for}}</td>
                                <td>{{team.goal_against}}</td>
                                <td>{{team.goal_diff}}</td>
                                <td>{{team.points}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col d-flex">
                    <a class="ml-auto" href="index"><button class="btn btn-primary mb-1">Back To Home</button></a>
                </div>
            </div>

            <div class="row g-3 x-panel mt-4">
                <h2>Matches</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Team A</th>
                                <th scope="col">Team B</th>
                                <th scope="col">Time</th>
                                <th scope="col" class="w-250">Date</th>
                                <th scope="col">Referee</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Brazil</td>
                                <td>Argentina</td>
                                <td>6 pm</td>
                                <td>Sat Aug 13 2022</td>
                                <td>Dariana Goldner</td>
                            </tr>
                            <tr>
                                <td>Brazil</td>
                                <td>Argentina</td>
                                <td>6 pm</td>
                                <td>Sat Aug 13 2022</td>
                                <td>Dariana Goldner</td>
                            </tr>
                            <tr>
                                <td>Brazil</td>
                                <td>Argentina</td>
                                <td>6 pm</td>
                                <td>Sat Aug 13 2022</td>
                                <td>Dariana Goldner</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col d-flex">
                    <a class="ml-auto" href="index"><button class="btn btn-primary mb-1">Back To Home</button></a>
                </div>
            </div>

        </div>
    </main>


    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>
{% endblock %}