<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tournament Details</title>

    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="style/layout.css">

</head>

<body>


    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">SOCCER@KFUPM</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul id="nav-bar-links" class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="manage-tournaments">Manage Tournaments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="manage-teams">Manage Teams</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="about">About</a>
                        </li>
                    </ul>
                    <ul id="nav-bar-links" class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="logout"><button class="btn btn-primary mb-1">Log
                                    out</button></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">

            <div class="row g-3 x-panel mt-4">
                <h1>World Cup 1</h1>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Ranking</th>
                                <th scope="col">Team Name</th>
                                <th scope="col">Wins</th>
                                <th scope="col">Draws</th>
                                <th scope="col">Loses</th>
                                <th scope="col" class="w-180">Goal Differences</th>
                                <th scope="col">Remaining</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><a href="view-team-details">Brazil</a></td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>7</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><a href="view-team-details">Morocco</a></td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>7</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><a href="view-team-details">Argentina</a></td>
                                <td>5</td>
                                <td>4</td>
                                <td>3</td>
                                <td>7</td>
                                <td>0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col d-flex">
                    <a class="ml-auto" href="manage-tournaments">
                        <button class="btn btn-primary mb-1">Back to Manage Toutnaments</button>
                    </a>
                </div>
            </div>

            <div class="row g-3 x-panel mt-4">
                <h2>Enroll Team with this Tournament</h2>
                <form action="#" method="post">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <select class="form-select" name="type" id="type" aria-label="type">
                                <option selected disabled>Select team...</option>
                                <option value="">Brazil</option>
                                <option value="">Morocco</option>
                                <option value="">Argentina</option>
                            </select>
                            <label for="type">Type</label>
                        </div>
                    </div>
                    <div class="col-12 d-flex">
                        <button class="btn btn-primary mb-1 ml-auto" type="submit">Enroll Team</button>
                    </div>
                </form>
            </div>

            <div class="row g-3 x-panel mt-4">
                <h2>Matches</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Team A</th>
                                <th scope="col">Team B</th>
                                <th scope="col">Time</th>
                                <th scope="col" class="w-250">Date</th>
                                <th scope="col">Referee</th>
                                <th scope="col" class="w-180">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Brazil</td>
                                <td>Argentina</td>
                                <td>6 pm</td>
                                <td>Sat Aug 13 2022</td>
                                <td>Dariana Goldner</td>
                                <td>
                                    <a href="edit-match-details"><button
                                            class="btn btn-primary mb-1">Edit</button></a>
                                    <a href="delete-match-details"><button
                                            class="btn btn-danger mb-1">Delete</button></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Brazil</td>
                                <td>Argentina</td>
                                <td>6 pm</td>
                                <td>Sat Aug 13 2022</td>
                                <td>Dariana Goldner</td>
                                <td>
                                    <a href="edit-match-details"><button
                                            class="btn btn-primary mb-1">Edit</button></a>
                                    <a href="delete-match-details"><button
                                            class="btn btn-danger mb-1">Delete</button></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Brazil</td>
                                <td>Argentina</td>
                                <td>6 pm</td>
                                <td>Sat Aug 13 2022</td>
                                <td>Dariana Goldner</td>
                                <td>
                                    <a href="edit-match-details"><button
                                            class="btn btn-primary mb-1">Edit</button></a>
                                    <a href="delete-match-details"><button
                                            class="btn btn-danger mb-1">Delete</button></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col d-flex">
                    <a class="ml-auto" href="manage-tournaments"><button class="btn btn-primary mb-1">Back To
                            Manage
                            Toutnaments</button></a>
                </div>
            </div>

            <div class="row g-3 x-panel mt-4">
                <h2>Create New Match</h2>
                <form action="#" method="post">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="team-a" id="team-a" placeholder="Team A"
                                aria-label="Team A" aria-describedby="basic-addon1" required>
                            <label for="team-a">Team A</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="team-b" id="team-b" placeholder="Team B"
                                aria-label="Team B" aria-describedby="basic-addon1" required>
                            <label for="team-b">Team B</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="time" class="form-control" name="time" id="time" placeholder="Time"
                                aria-label="time" aria-describedby="basic-addon1" required>
                            <label for="time">Time</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" name="start-date" id="start-date"
                                aria-label="Start Date" aria-describedby="basic-addon1" required>
                            <label for="start-date">Start Date</label>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="referee" id="referee" placeholder="Referee"
                            aria-label="referee" aria-describedby="basic-addon1" required>
                        <label for="referee">Referee</label>
                    </div>
                    <div class="row g-3">
                        <div class="col-6 form-floating mb-3">
                            <input type="number" min="0" class="form-control" name="team-a-score" id="team-a-score"
                                placeholder="team-a-score" aria-label="team-a-score" aria-describedby="basic-addon1"
                                required>
                            <label for="team-a-score">Team A Score</label>
                        </div>
                        <div class="col-6 form-floating mb-3">
                            <input type="number" min="0" class="form-control" name="team-b-score" id="team-b-score"
                                placeholder="team-b-score" aria-label="team-b-score" aria-describedby="basic-addon1"
                                required>
                            <label for="team-b-score">Team B Score</label>
                        </div>
                    </div>
                    <div class="col-12 d-flex">
                        <button class="btn btn-primary mb-1 ml-auto" type="submit">Create Match</button>
                    </div>
                </form>
            </div>

        </div>
    </main>


    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>